<table style="width:240px; border:1px solid black; float:right; ">
<tr>
<td colspan="2" align="center">país: <b>Brazil</b></td>
</tr>
<tr>
<td colspan="2" align="center"><img width="220" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/BRA_orthographic.svg/220px-BRA_orthographic.svg.png"></td>
</tr>
<tr>
 <td>Códigos<br/>ISO 3166-1:</td>
 <td>alpha-2: <b>CM</b><br/>alpha-3: <b>CMR</b><br/>numeric: <b>120</b> </td>
</tr>
<tr>
 <td><small>Bandeira UTF-8</small>:</td>
 <td><big>🇨🇲</big></td>
</tr>
<tr>
<td>DDI:</td>
<td><b>+237</b></td>
</tr>
<tr>
<td>OSM:</td>
 <td><a target="_osm" href="http://osm.org/relation/192830"><b>192830</b></a>
 </td>
</tr>
<tr>
<td>Wikidata:</td>
 <td><a target="_wd" href="http://wikidata.org/entity/Q1009"><b>Q1009</b></a>
 </td>
</tr>
<tr>
<td colspan="2" align="center"><hr/>
Projetos <i>git</i>:
 <br/>&nbsp; <a target="_dg" href="https://git.digital-guard.org/preserv-CM">DG/preserv-CM</a>;
 <br/>&nbsp; <a target="_osmc" href="https://git.afa.codes/CM">OSMC/CM</a>.
 <br/>Wiki docs: <a target="_wiki" href="https://wiki.addressforall.org/doc/osmc:CM">osmc:CM</a>.
</td>
</tr>
</table>

<h2>Cameroon geocodes</h2>
