
<table style="width:230px; border:1px solid black; float:right; ">
<tr>
<td colspan="2" align="center">country: <b>Colombia</b></td>
</tr>
<tr>
<td colspan="2"><img width="220" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/COL_orthographic_%28San_Andr%C3%A9s_and_Providencia_special%29.svg/220px-COL_orthographic_%28San_Andr%C3%A9s_and_Providencia_special%29.svg.png"></td>
</tr>
<tr>
 <td>ISO  3166-1<br/>codes: </td>
 <td>alpha-2: <b>CO</b><br/>alpha-3: <b>COL</b><br/>numeric: <b>170</b> </td>
</tr>
<tr>
 <td>UTF-8 flag:</td>
 <td><big>🇨🇴</big></td>
</tr>
<tr>
<td>Calling code:</td>
<td><b>+57</b></td>
</tr>
<tr>
<td>OSM:</td>
 <td><a target="_osm" href="http://osm.org/relation/120027"><b>r120027</b></a>
 </td>
</tr>
<tr>
<td>Wikidata:</td>
 <td><a target="_wd" href="http://wikidata.org/entity/Q739"><b>Q739</b></a>
 </td>
</tr>
<tr>
<td colspan="2" align="center"><hr/>
Git projects:
 <br/>&nbsp; <a target="_dg" href="https://git.digital-guard.org/preserv-CO">DG/preserv-CO</a>;
 <br/>&nbsp; <a target="_osmc" href="https://git.afa.codes/CO_new">OSMC/CO_new</a>.
 <br/>Wiki docs: <a target="_wiki" href="https://wiki.addressforall.org/doc/osmc:CO">osmc:CO</a>.   
</td>
</tr>
</table>

<p>Direcciones para todos. Direccionamiento digital simple, con datos libres, para toda Colombia.
{gif animada}
</p>

<p>¿Qué son los AFAcodes?</p>
<p>Los AFAcodes son como direcciones de calles para personas o lugares que no tienen uno.
   En lugar de direcciones con nombres de calles y números, los AFAcodes se basan en la latitud y la longitud, y se muestran como números y letras.
   Con un OSMcode, las personas pueden recibir entregas, acceder a servicios sociales y de emergencia, o simplemente ayudar a otras personas a encontrarlos.
<br/>{filme}
</p>

<p>¿Por qué AFAcodes?</p>
<p>... argumentos...
</p>
<p>{slide cases}</p>

<h1>Encuentra tu código</h1>

{comentar do DIVIPOLA do município}<br/>
