<table style="width:240px; border:1px solid black; float:right; ">
<tr>
<td colspan="2" align="center">país: <b>Brazil</b></td>
</tr>
<tr>
<td colspan="2" align="center"><img width="220" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/BRA_orthographic.svg/220px-BRA_orthographic.svg.png"></td>
</tr>
<tr>
 <td>Códigos<br/>ISO 3166-1:</td>
 <td>alpha-2: <b>BR</b><br/>alpha-3: <b>BRA</b><br/>numeric: <b>076</b> </td>
</tr>
<tr>
 <td><small>Bandeira UTF-8</small>:</td>
 <td><big>🇧🇷</big></td>
</tr>
<tr>
<td>DDI:</td>
<td><b>+55</b></td>
</tr>
<tr>
<td>OSM:</td>
 <td><a target="_osm" href="http://osm.org/relation/59470"><b>r59470</b></a>
 </td>
</tr>
<tr>
<td>Wikidata:</td>
 <td><a target="_wd" href="http://wikidata.org/entity/Q155"><b>Q155</b></a>
 </td>
</tr>
<tr>
<td colspan="2" align="center"><hr/>
Projetos <i>git</i>:
 <br/>&nbsp; <a target="_dg" href="https://git.digital-guard.org/preserv-BR">DG/preserv-BR</a>;
 <br/>&nbsp; <a target="_osmc" href="https://git.OSM.codes/BR_new">OSMC/BR_new</a>.
 <br/>Wiki docs: <a target="_wiki" href="https://wiki.addressforall.org/doc/osmc:CO">osmc:BR</a>.   
</td>
</tr>
</table>

<h2>Geocódigos do Brasil</h2>

<h3>Geocódigos científicos</h3>
<p>Grade científica padronizada do Brasil, com mesma projeção igual-área que a <a target="_video" href="https://www.youtube.com/watch?v=s5yrDV_c2-4">Grade Estatística do IBGE</a>. Geocódigos expressos em base 16h, iniciando pelo nível zero:
<br/> &nbsp;<a href="https://osm.codes/BR+0">BR+0</a>; &nbsp;<a href="https://osm.codes/BR+1">BR+1</a>; &nbsp;<a href="https://osm.codes/BR+2">BR+2</a>;
&nbsp;<a href="https://osm.codes/BR+3">BR+3</a>; &nbsp;<a href="https://osm.codes/BR+4">BR+4</a>; &nbsp;<a href="https://osm.codes/BR+5">BR+5</a>; &nbsp;<a href="https://osm.codes/BR+6">BR+6</a>;
&nbsp;<a href="https://osm.codes/BR+7">BR+7</a>;
<br/> &nbsp;<a href="https://osm.codes/BR+0">BR+8</a>; &nbsp;<a href="https://osm.codes/BR+9">BR+9</a>; &nbsp;<a href="https://osm.codes/BR+a">BR+a</a>;
&nbsp;<a href="https://osm.codes/BR+b">BR+b</a>;
&nbsp;<a href="https://osm.codes/BR+cm">BR+cm</a>; &nbsp;<a href="https://osm.codes/BR+d">BR+d</a>; &nbsp;<a href="https://osm.codes/BR+eq">BR+eq</a>;
<br/> &nbsp;<a href="https://osm.codes/BR+fn">BR+fn</a>; &nbsp;<a href="https://osm.codes/BR+fp">BR+fp</a>; &nbsp;<a href="https://osm.codes/BR+ft">BR+ft</a>.

</p>
<h3>Geocódigos logísticos</h3>

<input type="hidden" id="wrk_jurL1" name="countries1" value="BR">
<p>Subconjunto dos geocódigos científicos expressos de forma mais compacta (em base32).
   Para apoio ou substituição do CEP, na localização exata de endereços nos meios urbano e rural.
   Selecione <a target="_wiki" href="https://en.wikipedia.org/wiki/ISO_3166-2:BR">UF</a> e município:</p>
