@font-face {
	font-family: 'FE-Schrift';
	src: URL('EuroPlate.woff2') format('woff2');
}

h2, h3 {color: #666;}
hr {clear:both;width: 100%;box-sizing: border-box;}

.font_small{font-size: small;}

#postalCode {
	color: #000;
	font-family: "FE-Schrift";
	font-size: 150%;
	letter-spacing: 1.5pt;
}

#map {
	width: 85vw;
	height: 70vh;
	float: left;
	box-sizing: border-box;
}


a#hasGeoUri, a#hasGeoUri:link, a#hasGeoUri:visited, a#hasGeoUri:active {
  color: #666;
  text-decoration: none;
}
a#hasGeoUri:hover { color: hotpink; }


#custom-map-controls {
	width: 60pt;
	float: right;
	box-sizing: border-box;
 	/* padding-left:10pt; */
}

#custom-map-controls2 {
 	width: 99vw;
	float: left;
	box-sizing: border-box;
}

#custom-map-controlsa, #custom-map-controlsb,
#custom-map-controlsc {
	float: left;
	padding-top:2%;
	padding-bottom:2%;
}
#custom-map-controlsc, #custom-map-controlsc option, #custom-map-controlsc select {  /* level size */
     font-size: 9pt;
}

#custom-map-controlsb .leaflet-control {
	clear:none;
}

.leaflet-control-encode {
	padding-top:2%;
}

.leaflet-tooltip.tooltipbase16h {
	border-left-color: rgb(255, 250, 205, 1);
	background-color: rgb(255, 250, 205, 1)
}

.leaflet-tooltip.tooltipbase16h1c {
	border-left-color: rgb(255, 250, 205, 1);
	background-color: rgb(255, 250, 205, 1)
}

/* condition for screen size minimum of 500px
and (min-width: 600px) and (max-width: 959px)
*/
@media (min-width:500px) {
	.test { font-size: 20px; }
}

