<select name="countries1" id="wrk_jurL1" onchange="sel_jurL1(this.value,'wrk')">
  <option value="" selected="1">-- Country --</option>
  <option value="BR">BR - Brazil</option>
  <option value="CO">CO - Colombia</option>
  <option value="UY">UY - Uruguay</option>
</select> &nbsp; <span id="wrk_jurL2" onchange="sel_jurL2(this.value,'wrk')"></span> &nbsp; <span id="wrk_jurL3"></span>

<script>
function sel_jurL1(abbrev,optc) {
  if (abbrev>'') {
    let jL2dom = document.getElementById(optc+'_jurL2');
    let fcall = "sel_jurL2(this.value,'"+optc+"')"
    let s = '<select name="states" onchange="'+fcall+'"><option value="">-- States--</option>'
    let lst = (optc=='wrk')? approved_jurisdictions[abbrev]: jurisdictions[abbrev];
    for ( var i of Object.keys(lst) ){
        s += '<option value="' + i + '">' + (abbrev != 'CO' ? i + ' - ' : '') + jurisdictions[abbrev][i]['name']
    }
    jL2dom.innerHTML=s+"</select>"
    let jL3dom = document.getElementById(optc+'_jurL3');
    jL3dom.innerHTML=""
  }
}
function sel_jurL2(abbrev,optc) {
  if (abbrev>'') {
    let country = document.getElementById(optc+'_jurL1').value;
    let state = document.querySelector('#'+optc+'_jurL2 select').value;
    let jL3dom = document.getElementById(optc+'_jurL3');
    let fcall = "sel_jurL3(this.value,'"+optc+"')"
    let s = '<select name="cities" onchange="'+fcall+'"><option value="">-- Cities --</option>'
    let lst = (optc=='wrk')? approved_jurisdictions[country][state]['mun']: jurisdictions[country][state]['mun'];
    for ( var i of lst ){
        s += '<option>'+i
    }
    jL3dom.innerHTML=s+"</select>"
  }
}
function sel_jurL3(abbrev,optc) {
    let country = document.getElementById(optc+'_jurL1').value;
    let state = document.querySelector('#'+optc+'_jurL2 select').value;
    if (optc=='wrk' || (approved_jurisdictions[country] && approved_jurisdictions[country][state] && approved_jurisdictions[country][state]['mun'].includes(abbrev)) || confirm("It is not working,\nit is only to see city at the map ok?")) {
      window.location.href = '/' + country+'-'+state+'-'+abbrev
    }
}
</script>
<script src="/resources/js/jurisdictions_select.js"></script><!-- basta incluir um asterisco nos aprovados, e depois remover -->
<script src="/resources/js/approved_jurisdictions_select.js"></script>
<script>
function selectElement(id,value)
{
    let e = document.getElementById(id);
    e.value = value;
}

function updateJurisd(jurisd)
{
    selectElement('wrk_jurL1',jurisd.split("-",3)[0])

    let s = '<select name="states" onchange="sel_jurL2(this.value,\'wrk\')"><option value="">-- States--</option>'

    for ( var i of Object.keys(approved_jurisdictions[jurisd.split("-",3)[0]]) )
    {
        s += '<option value="' + i + '"' + (jurisd.split("-",3)[1] == i ? ' selected>' : '>') + (jurisd.split("-",3)[0] != 'CO' ? i :   approved_jurisdictions[jurisd.split("-",3)[0]][i]['name'])
    }
    s += '</select>'

    document.getElementById('wrk_jurL2').innerHTML=s

    sel_jurL2(jurisd.split("-",3)[1],'wrk')
}

let pathname = window.location.pathname;

if (pathname.match(/^\/[A-Z]{2}.*$/i))
{
    updateJurisd((pathname.replace(/^\/(.*)$/i, "$1")).toUpperCase(),false)
}
</script>
</body>
</html>
