@font-face {
	font-family: 'FE-Schrift';
	src: URL('../resources/fonts/EuroPlate.woff2') format('woff2');
}

h2, h3 {color: #666;}
hr {clear:both;width: 100%;box-sizing: border-box;}

h3 img {
 height: 14pt;
 background-color:yellow;
}

.font_small{font-size: small;}

.feSchrift {
	color: #000;
	font-family: "FE-Schrift";
	font-size: 150%;
	letter-spacing: 1.5pt;
}

#map {
	width: 99vw; /* old 85 */
	height: 70vh;
	float: left;
	box-sizing: border-box;
}

a#hasGeoUri, a#hasGeoUri:link, a#hasGeoUri:visited, a#hasGeoUri:active {
  color: #666;
  text-decoration: none;
}
a#hasGeoUri:hover { color: hotpink; }

#custom-map-controlsa, #custom-map-controlsb,
#custom-map-controlsc, #custom-map-controlsd {
	float: left;
	padding-top:0.5%;
	padding-bottom:0.5%;
}

#custom-map-controlsb .leaflet-control {
	clear:none;
}

#custom-map-controlsd {
	clear:both;
}

.leaflet-control {
	padding-top:2%;
}

.leaflet-tooltip.tooltipbase16h, .leaflet-tooltip.tooltipbase16h1c {
	border-left-color: rgb(255, 250, 205, 1);
	background-color: rgb(255, 250, 205, 1)
}

/* condition for screen size minimum of 500px
and (min-width: 600px) and (max-width: 959px)
*/
@media (min-width:500px) {
	.test { font-size: 20px; }
}
